.me {
    width: 200px;
    height: 300px;
}

.left-about-me {
    flex:1;
}

.right-about-me {
    flex-shrink: 0; /* Prevents it from shrinking */
    margin-left: 20px; /* Adjust margin as needed */
}