.technical-experience-heading {
  font-size: 2.5em;
  text-align: center;
}

.technical-experience-content p {
  text-align: left;
}

.left-tech {
  flex:1;
}

/* .right-about-me {
  flex-shrink: 0; 
  margin-left: 20px;
} */