.info {
  text-align: left;
}

.left-about-me-tech {
  flex:1;
}

.right-about-me {
  flex-shrink: 0; /* Prevents it from shrinking */
  margin-left: 20px; /* Adjust margin as needed */
}

.MyRacePass-content p {
  text-align: left;
}

.hyland-software-content p {
  text-align: left;
}