.toolbar {
  display: flex;
  /* justify-content: space-between; */
}

.navigation-bar-links {
    display: flex;
    justify-content: space-between;
    /* margin: 0 auto; */
    align-items: right;
    /* width: 45% */
}
  
.name-link {
  display: flex;
  margin: 0 auto;
  width: 50%;
  align-items: left;
}

#name-link {
  color: white;
}

#name-link:hover {
  cursor: pointer
}

.toolbar {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .home-content {
    margin-top: 25px; /* Adjust this value for smaller screens */
  }
}

.content {
  padding-top: 70px; /* Adjust this value according to your AppBar's height */
}

.navigation-bar-links a {
  color: white;
}