.toolbar {
  display: flex;
  justify-content: space-between;
}

.navigation-bar-links {
    display: flex;
    align-items: center;
}
  
.name-link {
  display: flex;
  align-items: center;
}

#name-link {
  color: white;
}

#name-link:hover {
  cursor: pointer
}

@media screen and (max-width: 628px) {
  .home-content {
    margin-top: 25px;
  }
}

.navigation-bar-links a {
  color: white;
}